.board {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
}

h2 {
  margin: 0;
  padding: var(--spacing-lg) var(--spacing-md) var(--spacing-md);
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: var(--spacing-lg) var(--spacing-md);
  padding: var(--spacing-md);
  overflow-y: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);
  color: var(--color-white);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
