.title {
  align-self: flex-start;
}

.img {
  width: 480px;
  height: 240px;
  margin-bottom: 10px;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.no-ingredient {
  font-size: 18px;
  color: #ccc;
}
