.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  box-sizing: border-box;
}

.title {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.tabs {
  display: flex;
}

.ingredients {
  max-height: 800px;
  overflow-y: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.subtitle {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}
