.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 480px;
  padding: 30px;
  border-radius: 15px;
}

.passwordContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.showIcon {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

.loginLinkContainer {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.loginLinkText {
  color: #8585ad;
  margin: 0;
}

.registerLink,
.forgotPasswordLink {
  color: #4c4cff;
  text-decoration: none;
}

.registerLink:hover,
.forgotPasswordLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.loginForm Button {
  width: 128px;
  margin: 0 auto;
}
