.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #131316;
}

.resetPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 480px;
  border-radius: 15px;
}

.resetPasswordForm Button {
  width: 253px;
  margin: 0 auto;
}

.loginLink {
  color: #4c4cff;
  text-decoration: none;
}

.loginLink:hover {
  cursor: pointer;
  text-decoration: underline;
}
