.wrapper {
  position: relative;
  z-index: 1000;
  margin: 80px auto 0;
  max-width: 640px;
  padding-bottom: 40px;
  background-color: #2e2e2e;
  border-radius: 8px;
}

.item-number {
  text-align: center;
  color: #ffffff;
}

.text_ready {
  color: #00cccc;
  font-weight: bold;
}

.list::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
  padding-right: 24px;
  max-height: 370px;
  overflow-y: scroll;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__image {
  object-fit: cover;
  width: 56px;
  height: 56px;
  background-color: #131316;
  border-radius: 100px;
}

.list__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 100px;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
}

.list__item-title {
  flex: 1 1 auto;
}

.list__item-price {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ff6600;
}

.item-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  align-items: center;
  border-top: 1px solid #444;
}

.item-total-price {
  display: flex;
  align-items: center;
  color: #ff6600;
  gap: 8px;
  font-weight: bold;
}
